<header>
    <div class="nav-container">
        <nav>
            <ul class="nav-menu nav-left">
                <li><a href="index.php" class="bouton-nav">Accueil</a></li>
                <li><a href="tech.php" class="bouton-nav">Technicien</a></li>
            </ul>
        </nav>

        <div class="site-name">Nom_du_site</div>

        <nav>
            <ul class="nav-menu">
                <li><a href="connexion.php" class="bouton-nav" id="bouton-connexion">Connexion</a></li>
            </ul>
        </nav>
    </div>
</header>