html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}
header {
  background-color: #666666;
  color: white;
  padding: 20px;
  font-size: 24px;
  font-weight: bold;
  width: 100%;
  text-align: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Légère ombre */
}


/* ****************************************** NAV BAR  ******************************************************** */

.bouton-nav{
  color: white; text-decoration: none;  -webkit-transition: background-color 2s ease-out, color 2s ease-out,
  padding .05s ease-out,
  border .05s ease-out;
  -moz-transition: background-color 0.75s ease-out, color 2s ease-out,
  padding .5s ease-out,
  border .05s ease-out;
  -o-transition: background-color 0.75s ease-out, color 2s ease-out,
  padding .5s ease-out,
  border .05s ease-out;
  transition: background-color 0.75s ease-out, color 2s ease-out,
  padding .5s ease-out,
  border .05s ease-out;
  padding: 5px 10px;
  border-radius: 5px;

}

.bouton-nav-disabled{
  color: #666666;
  background-color: white;
  border-radius: 5px;
  padding: 10px 10px;
  text-decoration: none;
}

#bouton-nav0:hover {
  color: black;
  background-color: #b0d8f8;
  padding: 10px 15px;
  border-radius: 5px;
}


#bouton-nav1:hover {
  color: blue;
  background-color: #a8d8e8;
  border: solid #5baccd;
  padding: 10px 15px;
  border-radius: 5px;
}

#bouton-nav2:hover{
  color: darkgreen;
  background-color: #d1e8bb;
  border: solid #8d9f7c;
  padding: 10px 15px;
  border-radius: 5px;
}

