html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}
header {
  background-color: #666666;
  color: white;
  padding: 20px;
  font-size: 24px;
  font-weight: bold;
  width: 100%;
  text-align: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Légère ombre */
}


/* ****************************************** NAV BAR  ******************************************************** */

.bouton-nav{
  color: white; text-decoration: none;  -webkit-transition: background-color 2s ease-out, color 2s ease-out,
  padding .05s ease-out,
  border .05s ease-out;
  -moz-transition: background-color 0.75s ease-out, color 2s ease-out,
  padding .5s ease-out,
  border .05s ease-out;
  -o-transition: background-color 0.75s ease-out, color 2s ease-out,
  padding .5s ease-out,
  border .05s ease-out;
  transition: background-color 0.75s ease-out, color 2s ease-out,
  padding .5s ease-out,
  border .05s ease-out;
  padding: 5px 10px;
  border-radius: 5px;

}

.bouton-nav-disabled{
  color: #666666;
  background-color: white;
  border-radius: 5px;
  padding: 10px 10px;
  text-decoration: none;
}

#bouton-nav0:hover {
  color: black;
  background-color: #b0d8f8;
  padding: 10px 15px;
  border-radius: 5px;
}


#bouton-nav1:hover {
  color: blue;
  background-color: #a8d8e8;
  border: solid #5baccd;
  padding: 10px 15px;
  border-radius: 5px;
}

#bouton-nav2:hover{
  color: darkgreen;
  background-color: #d1e8bb;
  border: solid #8d9f7c;
  padding: 10px 15px;
  border-radius: 5px;
}
table {
  margin-right: auto;
  margin-left: auto;
  justify-items: center;
  margin-top: 50px;
  border-collapse: collapse;
  border: 2px solid rgb(0, 0, 0);
  font-size: 0.8rem;
  letter-spacing: 1px;
}
th{
  border: 2px solid rgb(0, 0, 0);
  padding: 8px 10px;
}

.form-container {
  background-color: #666666;
  color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 400px;
  margin: 20px auto;
}

.titre {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 37px;
  padding: 25px 0;
}


.titre h2a {
  padding: 5px 10px;
  border-radius: 5px;
  transform: translateY(0px);
  color: #ffa500; /* Orange vif */
  background-color: #333333; /* Fond sombre pour un meilleur contraste */
}

.formulaire {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Style pour les labels */
label {
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 5px;
  cursor: pointer;
  align-self: flex-start;
}


/* Style pour les champs de saisie */
input[type="text"], input[type="password"] {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
  max-width: 300px;
  transition: border-color 0.3s ease;
  font-size: 16px;
}

input[type="text"]:focus, input[type="password"]:focus {
  border-color: orange;
  outline: none;
}


.form_button {
  height: 45px;
  width: 150px;
  border-radius: 10px;
  border: none;
  background-color: orange;
  font-weight: bold;
  color: #070707;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s;
  margin-top: 20px;
}


.form_button:hover {
  background-color: #fdae27;
}

.password-container {
  position: relative;
  width: 100%;
  max-width: 300px;
}

